* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Raleway";

  text-align: center;
}

/*--------------navbar---------*/
header {
  width: 100%;
  height: 90px;
  color: #fff;
  border-bottom: 1px solid gray;
  z-index: 10;
}

nav {
  transition: 0.5s ease;
  margin: 1rem 8rem;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #f6ad3a;
  font-weight: bolder;
}
.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  outline: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/icon5.png");
  width: 80px;
  height: 80px;
}

nav.scroll {
  background-color: white;
  margin: 0;
}
nav.scroll .navbar-nav .nav-item .nav-link {
  color: gray;
}
nav.scroll .navbar-nav {
  padding: 0 3rem;
}

/*-------------Home section--------*/
.home-background-img {
  background-position: top;
  background-size: cover;
  display: flex;
  background-image: url("/images/bg.jpg");
}

.container-fluid {
  position: relative;
  top: -20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  z-index: -1;
}

.neven {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin-top: -150px;
}

.neven h1 {
  animation-delay: 0.5s;
}
.neven p {
  font-size: 2rem;
  animation-delay: 1s;
}

.input {
  text-align: center;
  width: 350px;
  padding: 15px;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 1rem;
  border-radius: 30px;
  font-family: serif;
  margin-top: 20px;
  animation-delay: 1.5s;
  z-index: auto;
}
input[type="submit"] {
  animation-delay: 2s;
  background-color: #f6ad3a;
  color: white;
  text-transform: uppercase;
  z-index: auto;
}

svg {
  margin-top: 35px;
}

.countdown {
  margin-left: 40px;
}
.countdown span {
  font-size: 4rem;
  color: white;
  font-weight: 600;
  margin-right: 10%;
}
.countdown p {
  color: white;
  font-size: 1.8rem;
}
.bad {
  margin-left: 100px;
}

/* end of homepage section */

/*RAND PART*/
.hta-bottom {
  background-color: #5d73c9;
  width: 180px;
  height: 50px;

  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.fw-fa {
  color: coral;
}
.fa-fw {
  color: black;
  padding: 1px;
  size: 10px;
}
.rand-title-event {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.size-30 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.grey-bc {
  background: #e2e2e2;
}
.guest-cards {
  display: flex;
  border: 1px px solid #e2e2e2;
  background-color: #e2e2e2;
  width: auto;
  height: auto;
}
.element {
  display: inline-block;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin-bottom: -15px;
  border: 1px px solid #e2e2e2;
  background-color: #e2e2e2;
}

.rand-cards {
  border: none solid #e2e2e2;
  background-color: #e2e2e2;
}
::selection {
  background-color: #f6ad3a !important;
  color: #fff;
}

/*Hameed part*/

/* start of timeline secion */
.tl-margin {
  margin-top: 50px;
  margin-bottom: 100px;
}
.timeline-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  font-size: x-large;
}

.timeline-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
}

.timeline-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.time-item {
  width: 20%;
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.time-circle {
  background-color: #f3ab3c;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 1px 1px 1px #cacaca;
}
.line {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.line::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: rgba(39, 27, 27, 0.13);
  top: 0;
  bottom: 0;
  left: 29.313%;
  margin-left: -3px;
}
.time-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%;
  box-shadow: 1px 1px 1px 1px #cacaca;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 0px;
}
.time-body h4,
.time-body p {
  /* background-color: black; */
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* end of timeline secion  */

/* start of how to apply section */
.hta-background {
  background-image: url(images/hta_img.jpg);
  background-size: cover;
  height: 600px;
}
.hta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hta-row {
  position: static;
  width: 0%;
}
.hta-title {
  margin-top: 145px;
  width: 550px;
  color: white;
  font-size: x-large;
}
.hta-title h1 {
  padding: 0px;
  margin: 2px;
}
.hta-body {
  width: 550px;
  color: white;
  font-size: larger;
}
.hta-button {
  width: 180px;
  height: 50px;
}
.hta-button a {
  background-color: #5d73c9;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* end of how to apply section */

/*           yazen           */

.event_location {
  color: #505050;
  font-family: Raleway;
}

.map-container-6 {
  overflow: hidden;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

div.scrollmenu {
  background-color: #f9f9f9;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  overflow-y: scroll;
}

/* a great method to hide the scroll bar */

div.scrollmenu::-webkit-scrollbar {
  display: none;
}
.div.scrollmenu {
  -ms-overflow-style: none;
}
/**/

div.scrollmenu img {
  display: inline-block;

  padding: 14px;
}

/* make a text in the middle (center)*/

.Event_line {
  line-height: 100px !important;
}
/**/

.Supporting_partners {
  color: #3f3f3f;

  font-family: Raleway;
}
.map {
  background-color: #f9f9f9;
}

footer {
  color: #8d8d8d;

  font-family: Raleway;
}

.partners section {
  background-color: #f9f9f9;
}

/*MEDIA */
/*this one is for making my page responsive on ipad alittle bit*/
@media (max-width: 992px) {
  .neven h1 {
    font-size: 60px;
  }
  .neven p {
    font-size: 30px;
  }
  .input {
    width: 600px;
  }

  .countdown p {
    font-size: 1.5rem;
  }
  nav.scroll {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    position: static;
  }
  #logo {
    margin-left: -90px;
    margin-top: -25px;
  }

  .navbar-light .navbar-nav .nav-item .nav-link {
    color: gray;
    font-size: 1rem;
  }
  .navbar-toggler-icon {
    margin-right: -50px;
    margin-top: -25px;
  }

  .navbar-collapse {
    background-color: #232323;
    text-align: left;
    color: gray;
    height: 300px;
  }
  .navbar-collapse .nav-item:not(#icon) {
    border-bottom: 0.3px solid gray;
    padding: 10px;
  }
  .navbar-collapse .nav-item i {
    display: none;
  }
}

@media (max-width: 768px) {
  .neven h1 {
    font-size: 40px;
  }
  .neven p {
    font-size: 20px;
  }

  .input {
    width: 500px;
  }
  .countdown {
    margin-left: 15px;
  }
  .countdown p {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  /* start of hemepage section */
  .container-fluid {
    height: 1100px;
  }
  .neven h1 {
    font-size: 53px;
  }
  .neven p {
    font-size: 23px;
  }

  .input {
    width: 280px;
  }
  .countdown {
    margin-left: 80px;
  }

  /* start of timeline section */
  .timeline-title {
    text-align: center;
  }
  .timeline-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .time-item {
    width: 60%;
    margin-left: 10px;
  }
  .time-body {
    margin-left: 40px;
    width: 80%;
  }
  .line::after {
    left: 3.7%;
  }

  /* end of timeline section */

  /* start of how to apply section */
  .hta-row {
    position: static;
    width: 95%;
  }
  .hta-background {
    background-image: url(images/hta_imgs.jpg);
    background-size: cover;
    height: 600px;
  }
  .hta-title {
    margin-top: 120px;
    width: 300px;
  }
  .hta-title h1 {
    padding: 0px;
    margin: 2px;
    font-size: x-large;
  }
  .hta-body {
    width: 300px;
    color: white;
    font-size: large;
  }
}

@media (max-width: 576px) {
  .neven h1 {
    font-size: 35px;
  }
  .countdown {
    margin-left: 55px;
  }
  .input {
    width: 350px;
  }
}
